{% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
        <div class="container mx-auto px-4 py-4">
            {% for category, message in messages %}
                {% set type = category if category in ['success', 'error', 'warning', 'info'] else 'info' %}
                {% set message = message %}
                {% set dismissible = true %}
                {% include 'components/alert.html' %}
            {% endfor %}
        </div>
    {% endif %}
{% endwith %} 